{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all",
        "tabWidth": 2,
        "semi": true,
        "printWidth": 1000,
        "endOfLine": "auto"
      }
    ],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": "*",
        "next": ["return", "block", "block-like", "if", "switch", "try", "while", "for", "do"]
      },
      {
        "blankLine": "always",
        "prev": ["block", "block-like", "if", "switch", "try", "while", "for", "do"],
        "next": "*"
      }
    ]
  
  }
}
